:root {
  --color-blue: #4d4de0;
  --color-blue-light: #cecef7;
  --color-black: #03033f;
  --color-grey: #f1f1fd;
  --color-grey-2: #e0e0e7;
  --color-white: #ffffff;
  --color-red: #d80012;
  --color-red-light: #fce7e9;
  --color-yellow: #f7b500;
  --color-yellow-light: #fcf3da;

  --border-radius: 4px;

  --shadow-hover: 0px 0px 10px #c1c1e7;
  --shadow-focus-blue: 0px 0px 10px rgba(77, 77, 224, 0.5);
}
